<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar bg-primary d-flex">
        <a class="navbar-brand">Home</a>
        <div>
          <div class="navbar-nav d-flex flex-row">
            <% if current_user %>
              <h5 class="m-1">Logged in as <%= current_user.name %></h5>
              <p class="m-1"><%= link_to "Log Out", signout_path %></p>
            <% else %>
              <%= link_to "Sign Up", signup_path, class:"p-3" %>
              <%= link_to "Log In", login_path, class:"p-3" %>
            <% end %>
          </div>
        </div>
      </nav>
      
      <%= console %>
    <%= yield %>
    <p id=”notice”><%= notice %></p>
  </body>
</html>
